@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titilliumbold';
    src: url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#logo{
    padding-top: 8px;
    padding-bottom: 5px;
	width: 200px;
	margin: 0px auto 0px;
	display: block;	
}

.faa{
	margin-top: 15px;
}

.link-navbar{
    margin-top: 20px;
    font-family: 'titilliumbold';
    font-size: 20px;
}